{%load static %}
<div id="sidebar">
  <div class="inner">
    <!-- Menu -->
    <nav id="menu">
      <div class="theme-buttons">
        <button id="toggle" class="button">
          Switch Mode
          <img
            src="{% static 'images/moon.png' %}"
            id="icon"
            class="icon-themes"
            data-original="{% static 'images/sun.png' %}"
          />
        </button>
      </div>
      <header class="major">
        <!-- <a href="#menu"><h2>Menu</h2></a> -->
        <h2>Menu</h2>
      </header>
      <ul>
        <!-- <li><a href="/index.html">Homepage</a></li> -->
        <li><a href="/">Homepage</a></li>
        <!-- <li><a href="#latest-work">Latest</a></li> -->
        <li><a href="/dataanalysiswithpython">Data Analysis with Python</a></li>
        <li><a href="/genai">GenAI</a></li>
        <li><a href="/deeplearning">Deep Learning</a></li>
        <li><a href="/pythonpackages">Python Packages</a></li>
        <li><a href="/sqlandpowerbi">SQL & Power BI</a></li>
        <li><a href="/webscrapingandothers">Web Scraping & Others</a></li>

        <!-- <li><a href="generic.html">Generic</a></li>
                    <li><a href="elements.html">Elements</a></li> -->
      </ul>
    </nav>

    <!-- Section -->
    <section>
      <header class="major">
        <h2>Get in touch</h2>
      </header>
      <!-- <p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p> -->
      <ul class="contact">
        <li class="icon solid fa-envelope">
          <a href="mazqoty.01@gmail.com" target="_blank"
            >mazqoty.01@gmail.com</a
          >
        </li>
        <!-- <li class="icon solid fa-phone">(000) 000-0000</li> -->
        <!-- <li class="icon solid fa-phone"><a href="https://wa.me/+923002576068" target="_blank">Send Message on WhatsApp</a></li> -->
        <li class="icon solid brands fa-whatsapp">
          <a href="https://wa.me/+923002576068" target="_blank"
            >Send Message on WhatsApp</a
          >
        </li>
        <li class="icon brands fa-github">
          <a href="https://github.com/mm-mazhar/mazhar" target="_blank"
            >Github</a
          >
        </li>
        <li class="icon brands fa-linkedin">
          <a
            href="https://www.linkedin.com/in/mazhar-muhammad-121133269/"
            target="_blank"
            >Linkedin</a
          >
        </li>
        <li class="icon brands fa-twitter">
          <a href="https://twitter.com/m_mazhar_01" target="_blank">Twitter</a>
        </li>

        <!-- <li class="icon solid fa-home">1234 Somewhere Road #8254<br />
                    Nashville, TN 00000-0000</li> -->
      </ul>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <p class="© copyright">
        &copy; M. Mazhar Made with ❤️ +
        <a href="https://html5up.net">HTML5 UP</a>
      </p>
    </footer>
  </div>
</div>
