<header id="header">
    <a href="/" class="logo"><strong>M. Mazhar</strong></a>
    <ul class="icons">
        <!-- <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li> -->
        <li><a href="https://github.com/mm-mazhar" target="_blank" class="icon brands fa-github"><span class="label">Github</span></a></li>
        <li><a href="https://www.kaggle.com/mazhar01" target="_blank" class="icon brands fa-kaggle"><span class="label">kaggle</span></a></li>
        <li><a href="https://www.linkedin.com/in/m-mazhar-121133269/" target="_blank" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
        <!-- <li><a href="https://twitter.com/m_mazhar_01" target="_blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li> -->
        <li><a href="https://wa.me/+15715322248" target="_blank" class="icon brands fa-whatsapp"><span class="label"></span></a></li>
        <!-- <li><a href="#" target="_blank" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
        <li><a href="#" target="_blank" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" target="_blank" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li> -->
    </ul>
    
</header>